{% extends "base.html.twig" %}

{% block title %}
	Création d'un produit
{% endblock %}

{% block body %}
	<h1>Nouveau produit</h1>


	{{ form_start(formView) }}
	{{ form_errors(formView) }}

	<div class="row">
		<div
			class="col">
			{#{{ form_row(formView.name) }}#}
			<div class="form-group">
				{{ form_label(formView.name) }}
				{{ form_widget(formView.name, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(formView.name) }}
			</div>

			{{ form_row(formView.shortDescription) }}
		</div>

		<div class="col">
			{{ form_row(formView.price) }}
			{{ form_row(formView.category) }}
		</div>
	</div>

	<button class="btn btn-primary">
		<i class="fas fa-save"></i>
		Créer un produit
	</button>
	{{ form_end(formView) }}
{% endblock %}
